CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.onnx
*.filters
*.tlog
*.exe
*.dll
*.vcxproj
*.pdb
*.db
*.vcxproj.user
*.slnx
*.obj
*.lib
*.ilk
*.log
*.recipe
*.ipch
*.suo
*.vsidx
*.lastbuildstate
.vs/
build/
Debug/
Release/
x64/
CPPExampleBot.dir/
__pycache__/
onnxruntime.zip
